.deleteProduct {
    background-color: #A4C3B2;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: arial, sans-serif;
    text-decoration: none;
    padding: 4% 15%;
    width: 100%;
    margin-bottom: 10%;
}

.deleteProduct:hover {
    background-color: rgb(133, 160, 145);
}

#addButton{
    background-color: #A4C3B2;
    cursor: pointer;
    border-radius: 2%;
    font-size: 1.2em;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
  }
  